<div class="container banner" data-aos="fade-right">
    <div class="banner-content">
        <h1>Enjoy Your <br> Dream Vacation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis beatae aut soluta, veritatis
            dolorum placeat consequatur exercitationem quibusdam laudantium.</p>
    </div>
    
    <div class="booking-query-section">
        <form autocomplete="off" onsubmit="queryBooking()" action="/Booking/view_rooms.html">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="check_in" placeholder="Check-in" required>
                        <label for="check_in">Check-in</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="check_out" placeholder="check-out" required>
                        <label for="check_out">check-out</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="adult" placeholder="Adult" required>
                        <label for="adult">Adult</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="children" placeholder="Children" required>
                        <label for="children">Children</label>
                    </div>
                </div>
                <div class="col">
                    <button class="btn">Check Availability</button>
                </div>
            </div>
        </form>
    </div>
</div>