<!-- 

<div style="background-color: rgb(40, 8, 8);">
    <app-burger></app-burger>

    <h1 style="text-align: center;background-color: rgb(255, 255, 255);">
        prepare Bill
    </h1>

</div>

    
    
 -->

 <app-burger></app-burger>
 <div style="background-color: greenyellow; height: 100vh; display: flex; flex-direction: column; justify-content: top; align-items: center;">
    <h1>Prepare Bill</h1>
    <div style="margin-top: 20px;">
      <label for="bill">Bill: </label>
      <input id="bill"  type="text">
      <button >Go</button>
    </div>
  </div>
