<!-- <div class="container">
    <div class="row">
        <div class="booking" style="text-align: center;border:2px solid red">
            <p >Booking peroid </p>
            <p>red</p>

        </div>
    </div> 
</div> -->

<div class="container">
    <div class="row">
        <div class="booking" style="text-align: center;">
            <div style="border: 2px solid red; padding: 20px; border-radius: 10px;display:inline-block">
                <p>Booking Period</p>
                <p>Red</p>

             
                <input type="date" id="bookingDate" name="bookingDate">
            </div>
        </div>
    </div>
</div>