<!-- <div class="container">
    <div class="row">
        <div class="booking" style="text-align: center;border:2px solid red">
            <p >Booking peroid </p>
            <p>red</p>

        </div>
    </div> 
</div> -->

<div class="container">
    <div class="row">
        <div class="booking" style="text-align: center;padding: 30px 80px; ">
            <div class="bk" style="border: 2px solid red; padding: 30px 80px; border-radius: 50px;display:inline-block">
                <p style="text-decoration: underline;font-size:30px">Booking Period</p>
                <p>From Date :</p>
                <input type="date" id="bookingDate" name="bookingDate"><hr>
                <p>From Date :</p>
                <input type="date" id="bookingDate" name="bookingDate">
            </div>
        </div>
    </div>
</div>